body {
    font-family: 'Lato', 'Tahoma', sans-serif;
    background-color: #eee;
    display: flex;
    justify-content: space-between;;
    padding: 20px;
    margin: 0;
}

h1 {
    font-family: 'Lato', 'Tahoma', sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 0;
}
h2 {
    font-family: 'Lato', 'Tahoma', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}


/* ---------------- */
/* HEADER STYLING */
/* ---------------- */

#header, #footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: navy;
    color: whitesmoke;
    width: 100%;
    margin: 0px;
    margin-bottom: 20px;
}

#footer {
    margin: 0px;
    margin-top: 20px;
    display: flex;
    height: 50px;
}

/* --------------- */
/* SIDEBAR STYLING */
/* --------------- */

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 295px;
    background-color: #333;
    color: whitesmoke;
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
    transition: transform 0.3s ease;
    box-sizing: border-box;
}

.collapsible-section {
    background-color: #0000;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    /* margin-bottom: 10px; */
    max-height: fit-content;
}

.scrollable-container {
    max-height: 100%;
    /* Allow the container to take up the full height of its parent */
    overflow-y: auto;
    /* Enable scrolling if the content exceeds the height */
}

.collapsible-content {
  display: none;
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
}

/* When a section is expanded */
.collapsible-content.show {
  display: block;
}

/* Flex properties to ensure sections take up space based on expansion */
.collapsible-section.expanded {
  flex-grow: 1;
}

/* Add some spacing around the sections */
#sidebar > .collapsible-section:last-child {
  margin-bottom: 0;
}

#available-section{
    background-color: #181c;
}
#unavailable-section{
    background-color: #c33c;
}

.collapsible-header {
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.triangle-icon {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.collapsible-header .triangle-icon.rotate {
    transform: rotate(90deg);
}

.player-count {
    font-size: 20px;
    color: black;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 10px;
    background-color: #fffa;   
    padding: 5px;
    border-radius: 20px;
    border: 2px solid #000;
}

#player-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    overflow: hidden;
    overflow-y: auto;
}

#available,
#unavailable, 
#not-responded {
    flex: 1;
    overflow-y: auto;
    background-color: none;
    border-radius: 5px;
    padding: 5px;
}



/* Targeting player-info directly, not #player-list */
.player-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    border-radius: 5px;
    font-size: 14px;
    margin: 2px 0px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.player-name {
    margin-right: auto;
}
.player-info .player-actions {
    margin-left: auto;
}

.player-info .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: transparent;
    color: whitesmoke;
    border: none;
    cursor: pointer;
    margin: 0px;
    margin-right: 5px;
}

.player-info .icon:hover {
    background-color: #ccc;
}

.icon-edit {
    opacity: 0.5;
}
.player-info .icon-x {
    color: #c33;
}
.player-info .icon-check {
    color: #1a1;
}
.player-info .icon-trash {
    color: #ccc;
}

#mark-all-available{
    background-color: navy;
    color: whitesmoke;
    margin: 10px 0;
    padding: 5px 10px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

#save-availability, #add-player-button, #clear-all {
    background-color: navy;
    color: whitesmoke;
    border: 2px solid whitesmoke;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 5px 0;
    margin-bottom: 10px;
}

#save-availability {
    flex: 4;
}
#clear-all {
    flex: 2;
}

#add-player-button{
    padding: 5px;
    margin-top: 0;
}

#save-availability:hover, #clear-all:hover, #mark-all-available:hover, #add-player-button:hover {
    background-color: whitesmoke;
    color: navy;
}

#cancel-add-player, #save-player-button {
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0.8;
}
#cancel-add-player:hover {
    background-color: red;
    color: whitesmoke;
    opacity: 1;
}
#save-player-button:hover {
    opacity: 1;
    background-color: green;
    color: whitesmoke;
}


/* ----- */
/* MODAL */
/* ----- */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #114;
    border: white 5px solid;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: -content;
}

.modal-content div {
    display: flex;
}

#player-positions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.modal-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc9;
    border-radius: 5px;
}

.modal-content select {
    flex: 1;
}
.modal-input input {
    flex: 7;
}

.checkbox-item {
    display: flex;
    margin-right: auto;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.checkbox-item input[type="checkbox"] {
    cursor: pointer;
    margin: 0;
    margin-right: 5px;
}

label {
    flex:2;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    margin-right: 10px;
}

.checkbox-item label {
    flex: none;
    font-size: 16px;
    /* margin-right: auto; */
    text-align: left;
    margin-bottom: auto;
}

.checkbox-column {
    display: flex;
    flex-direction: column; 
    text-align: left;
}

checkbox-group {
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    /* margin: 0px; */
    margin-top: 10px;
}

button {
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

/* ----------------- */
/* MAIN BODY STYLING */
/* ----------------- */
#content {
    position: fixed;
    top: 0;
    margin-left: 275px;
    width: calc(100% - 275px);
    max-width: max-content;
    z-index: 0;
}

#select-squad {
    margin-left: 20px;
}

/* Container for all rows */
#position-select {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0px;
    width: 100%;
    /* max-width: 800px; */
}

/* General styles for rows */
.position-row {
    display: flex;
    gap: 5px;
}

/* General styles for position cells */
.position-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 160px;
    text-align: center;
    margin: 5px 0;
}

.row-1 {padding-left: 10%;}
.row-2 {padding-left: 0%;}
.row-3 {padding-left: 24%;}
.row-4 {padding-left: 0%; margin-top: -10px;}
.row-5 {padding-left: 15%; margin-top: -10px;}
.row-6 {padding-left: 30%; margin-top: -10px;}
.row-7 {padding-left: 0%; margin-top: -10px;}
.row-8 {padding-left: 40%; margin-top: -10px;}


.position-cell:empty {
    visibility: hidden;
}

.position-cell label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: normal;
}

.position-cell select {
    padding: 5px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    background-color: lightgray;
}

/* Style for select dropdown when a player is selected */
.position-cell .select-selected {
    background-color: navy;
    border-color: black;
    color: whitesmoke;
    font-weight: bold;
}

.position-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
}

.position-number {
    font-family: 'Lato', 'Tahoma', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: navy;
}

.position-label {
    font-size: 14px;
    color: #0008;
    margin-top: 15px;
}

#replacements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
}

.replacements-row {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 16px;
    margin-left: 20px;
}

.replacement-cell {
    display: flex;
    flex-direction: row;
}

.replacement-number {
    font-size: 40px;
    font-weight: bold;
    color: whitesmoke;
}

.replacement-cell select {
    padding: 5px;
    margin: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 160px;
    text-align: center;
    align-self: center;
    background-color: lightgray;
}

.replacement-cell .select-selected {
    background-color: black;
    border-color: whitesmoke;
    color: whitesmoke;
    font-weight: bold;
}

/* ---------------------- */ 
/* ACTION BUTTONS STYLING */
/* ---------------------- */
#actions {
    text-align: left;
}

#actions button {
    background-color: whitesmoke;
    color: navy;
    padding: 10px 15px;
    border: 4px solid navy;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#actions button:hover {
    background-color: navy;
    color: whitesmoke;
}