/* Define variables at the root level */
:root {
    --primary-color: #202947;
    --light-color: #d8d7da;
    --dark-color: #333333;
    --green-color: rgb(20, 111, 20);
    --red-color: rgb(152, 21, 21);
    --sidebar-width: 295px;
    --sidebar-collapsed-width: 60px;
    --header-height: 100px;
}

body {
    font-family: 'Lato', 'Tahoma', sans-serif;
    background-color: var(--light-color);
    display: flex;
    justify-content: space-between;;
    padding: 20px;
    margin: 0;
}

h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin: 0px 20px;
    color: whitesmoke
}

/* ---------------- */
/* HEADER STYLING */
/* ---------------- */

#header, #footer {
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    width: 100%;
    margin: 0px;
    margin-bottom: 10px;
    min-height: var(--header-height);
    height: max-content;
}

/* Layout container */
.container {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.content.sidebar-collapsed {
    left: 0;
    /* Adjust to account for button width when sidebar is collapsed */
}

/* Sidebar styles */
#sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 295px;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    overflow: hidden;
}

#sidebar.collapsed {
    width: var(--sidebar-collapsed-width);
}

/* Hide all other elements inside the sidebar when collapsed */
#sidebar.collapsed .sidebar-content {
    display: none;
}

/* Toggle button */
#toggle-btn {
    background-color: transparent;
    color: var(--light-color);
    margin-left: auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease;
    opacity: 0.8;
}
#toggle-btn i {
    font-size: 30px;
    color: var(--light-color);
}

#toggle-btn:hover {
    background-color: whitesmoke;
    color: var(--dark-color);
    opacity: 0.5;
}

.content {
    background-color: rgba(34, 139, 34, 0.5);
    flex-grow: 1;
    overflow-y: auto;
    transition: margin-left 0.3s ease;
    position: fixed;
    top: 0;
    left: var(--sidebar-width);
    width: calc(100% - var(--sidebar-width));
    height: 100%;
}

.content.sidebar-collapsed {
    left: var(--sidebar-collapsed-width);
    /* Matches the collapsed sidebar width */
    width: calc(100% - var(--sidebar-collapsed-width));
    /* Adjust to avoid overflow */
}

img {
    height: var(--header-height);
    margin-left: 20px;
}

/* --------------- */
/* SIDEBAR STYLING */
/* --------------- */

#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    width: 295px;
    background-color: var(--dark-color);
    color: var(--light-color);
    padding: 10px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 10;
    transition: transform 0.3s ease;
    box-sizing: border-box;
    overflow: hidden;
}

.collapsible-section {
    background-color: rgba(black, 0);
    border: 1px solid var(--light-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding: 0px;
    max-height: fit-content;
}

.scrollable-container {
    max-height: 100%;
    overflow-y: auto;
}

.collapsible-content {
  display: none;
  padding: 10px;
  max-height: 400px;
  overflow-y: auto;
}

.collapsible-content.show {
  display: block;
}

.collapsible-section.expanded {
  flex-grow: 1;
}

#sidebar > .collapsible-section:last-child {
  margin-bottom: 0;
}

#available-section{
    background-color: var(--green-color);
}
#unavailable-section{
    background-color: var(--red-color);
}
#not-responded-section{
    background-color: black ;
}

.collapsible-header {
    cursor: pointer;
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}   

.triangle-icon {
    display: inline-block;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

.collapsible-header .triangle-icon.rotate {
    transform: rotate(90deg);
}

.player-count {
    font-size: 20px;
    color: black;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    margin-left: 10px;
    background-color: var(--light-color);   
    padding: 5px;
    border-radius: 50%;
    border: 2px solid black;
}

#player-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 10px;
    overflow: hidden;
    overflow-y: auto;
}

#available,
#unavailable, 
#not-responded {
    flex: 1;
    overflow-y: auto;
    background-color: none;
    border-radius: 5px;
    padding: 5px;
}

.player-info {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    border-radius: 5px;
    font-size: 14px;
    margin: 2px 0px;
    transition: background-color 0.3s ease;
    width: 100%;
}

.player-name {
    margin-right: auto;
    color: var(--light-color);
}
.player-info .player-actions {
    margin-left: auto;
}

.player-info .icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background-color: transparent;
    color: var(--light-color);
    border: none;
    cursor: pointer;
    margin: 0px;
    margin-right: 5px;
}

.player-info .icon:hover {
    background-color: var(--dark-color);
    border-radius: 10px;

}

.icon-edit {
    opacity: 0.5;
}
.player-info .icon-x {
    color: var(--red-color);
}
.player-info .icon-check {
    color: var(--green-color);
}
.player-info .icon-trash {
    color: var(--light-color);
}

#mark-all-available{
    background-color: var(--primary-color);
    color: var(--light-color);
    margin: 10px 0;
    padding: 5px 10px;
    border: 2px solid var(--light-color);
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

#save-availability, #add-player-button, #clear-all {
    background-color: var(--primary-color);
    color: var(--light-color);
    border: 2px solid var(--light-color);
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 5px 0;
    margin-bottom: 10px;
}

#save-availability {
    flex: 4;
}
#clear-all {
    flex: 2;
}

#add-player-button{
    padding: 5px;
    margin-top: 0;
    width: 100%;
}

#save-availability:hover, #clear-all:hover, #mark-all-available:hover, #add-player-button:hover {
    background-color: var(--light-color);
    color: var(--primary-color);
}

#cancel-add-player, #save-player-button {
    color: black;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    opacity: 0.8;
}
#cancel-add-player:hover {
    background-color: var(--red-color);
    color: var(--light-color);
    opacity: 1;
}
#save-player-button:hover {
    opacity: 1;
    background-color: var(--green-color);
    color: var(--light-color);
}


/* ----- */
/* MODAL */
/* ----- */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0008;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: var(--primary-color);
    border: white 5px solid;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    width: -content;
}

.modal-content div {
    display: flex;
}

#player-positions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.modal-input {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc9;
    border-radius: 5px;
}

.modal-content select {
    flex: 1;
}
.modal-input input {
    flex: 7;
}

.checkbox-item {
    display: flex;
    margin-right: auto;
    margin-bottom: 10px;
}

input[type="checkbox"] {
    width: 18px;
    height: 18px;
}

.checkbox-item input[type="checkbox"] {
    cursor: pointer;
    margin: 0;
    margin-right: 5px;
}

label {
    flex:2;
    font-weight: bold;
    font-size: 18px;
    text-align: left;
    margin-right: 10px;
}

.checkbox-item label {
    flex: none;
    font-size: 16px;
    text-align: left;
    margin-bottom: auto;
}

.checkbox-column {
    display: flex;
    flex-direction: column; 
    text-align: left;
}

checkbox-group {
    display: flex;
    flex-direction: column;
}

.button-group {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

button {
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.hidden {
    display: none;
}

/* ----------------- */
/* MAIN BODY STYLING */
/* ----------------- */


#select-squad {
    margin: 20px;
}

/* Container for all rows */
#position-select {
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0px;
    width: 100%;
}

/* General styles for rows */
.position-row {
    display: flex;
    gap: 5px;
    margin-top: -10px;
}

/* General styles for position cells */
.position-cell {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    min-width: 120px;
    text-align: center;
    margin: 8px 0;
    padding: 5px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.75);
}

.row-1 {padding-left: 10%;}
.row-2 {padding-left: 0%;}
.row-3 {padding-left: 24%;}
.row-4 {padding-left: 0%;}
.row-5 {padding-left: 15%; }
.row-6 {padding-left: 30%;}
.row-7 {padding-left: 0%; justify-content: space-between;}
.row-8 {padding-left: 40%;}


.position-cell:empty {
    visibility: hidden;
}

.position-cell label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: normal;
}

.position-cell select {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    padding: 5px;
    font-size: 16px;
    border: 1px solid var(--primary-color);
    border-radius: 5px;
    width: 100%;
    text-align: center;
    background-color: var(--light-color);
}

/* Style for select dropdown when a player is selected */
.position-cell .select-selected {
    background-color: var(--primary-color);
    border: 1px solid rgba(255, 255, 255, 0);
    color: white;
}

.position-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: auto;
}

.position-number, .replacement-number {
    font-family: 'Oswald', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: var(--primary-color);
}

.position-label {
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 20px;
    color: var(--primary-color);
}

#replacements {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    width: 100%;   
}

.replacements-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 16px;
    margin-left: 20px;
}

.replacement-cell {
    display: flex;
    flex-direction: row;
}

.replacement-number {
    font-size: 42px;
    color: var(--light-color);
    align-content: center;
}

.replacement-cell select {
    padding: 5px;
    margin: 15px;
    font-size: 14px;
    border: 1px solid white;
    border-radius: 5px;
    width: 160px;
    text-align: center;
    align-self: center;
    background-color: var(--light-color);
}

.replacement-cell .select-selected {
    background-color: black;
    border-color: var(--light-color);
    color: var(--light-color);
    font-weight: bold;
}

/* ---------------------- */ 
/* ACTION BUTTONS STYLING */
/* ---------------------- */
#actions {
    text-align: left;
    padding: 20px;
    margin-left: auto;
    display: flex;
}

#actions button {
    background-color: var(--light-color);
    color: var(--primary-color);
    padding: 10px 15px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#actions button:hover {
    background-color: var(--primary-color);
    color: var(--light-color);
    border-color: var(--light-color);
}

/* Adjustments for smaller screens */
@media (max-width: 1200px) {

    #actions {
        flex-direction: column;
    }

    #replacements {
        justify-content: space-evenly;
    }

    .replacements-row {
        display: flex;
        flex-direction: column;
    }

    #toggle-btn {
        font-size: 24px;
    }
}